# Task1

In [1]:
# Import "IMG_Rois.txt" as DataFrame and display from 20 to 30 rows and second last 10.

In [2]:
import pandas as pd

# Load data into DataFrame
df = pd.read_csv("IMG_Rois.txt")

In [3]:
# Display rows 20 to 30
print("Rows 20 to 30:")
print(df.iloc[19:30])  # Note: iloc is zero-based index

Rows 20 to 30:
             Label ImageName X1 Y1 W H
19             building  646 636 45 50
20  building 0004833.jpg 639 633 47 52
21  building 0004834.jpg 632 633 50 55
22     building 0004835.jpg 623  52 58
23  building 0004836.jpg 617 627 52 58
24  building 0004837.jpg 608 624 55 61
25     building 0004838.jpg 600  55 61
26  building 0004839.jpg 593 620 55 61
27  building 0004840.jpg 584 618 55 61
28  building 0004841.jpg 576 613 55 61
29  building 0004842.jpg 567 611 55 61

In [4]:

# Display second last 10 rows
print("\nSecond last 10 rows:")
print(df.iloc[-11:-1])  # Note: iloc is zero-based index

Second last 10 rows:
             Label ImageName X1 Y1 W H
83  building 0004834.jpg 632 633 50 55
84           0004835.jpg 623 628 52 58
85     building 0004836.jpg  627 52 58
86  building 0004837.jpg 608 624 55 61
87  building 0004838.jpg 600 621 55 61
88  building 0004839.jpg 593 620 55 61
89  building 0004840.jpg 584 618 55 61
90             building  576 613 55 61
91  building 0004842.jpg 567 611 55 61
92  building 0004843.jpg 556 607 57 64

# Task2

In [7]:
#Task 2: Convert the "IMG_Rois.txt '' file into a csv file and write the difference between the two in the form of comment in the same cell.

In [5]:
# Load data from TXT file
df_txt = pd.read_csv("IMG_Rois.txt", sep="\t")  # Assuming tab-separated

In [6]:
# Convert to CSV
df_txt.to_csv("IMG_Rois.csv", index=False)

In [ ]:
# Differences between TXT and CSV:
"""
- TXT (IMG_Rois.txt):
    - Generally, TXT files can store data in plain text format.
    - May have different delimiters, such as tabs ('\t') or commas (','), or even space (' ').
    - No header row is assumed by default.
    - Data types may not be inferred correctly.

- CSV (IMG_Rois.csv):
    - Specifically formatted to store tabular data using commas as delimiters.
    - Typically includes a header row with column names.
    - Data types are often inferred from the content.
    - More commonly used for structured data interchange.
"""

# Task 3

In [8]:
# Remove the Null rows and columns from the above file.

In [9]:
import pandas as pd

# Load data from CSV file
df = pd.read_csv("IMG_Rois.csv")

# Remove null rows
df_cleaned_rows = df.dropna(axis=0, how='all')

# Remove null columns
df_cleaned = df_cleaned_rows.dropna(axis=1, how='all')

# Write cleaned data to CSV
df_cleaned.to_csv("IMG_Rois_cleaned.csv", index=False)

# Display the cleaned DataFrame
print(df_cleaned)

             Label ImageName X1 Y1 W H
0   building 0004813.jpg 734 651 37 41
1             building   733 652 37 41
2   building 0004815.jpg 728 654 37 41
3   building 0004816.jpg 724 655 37 41
4   building 0004817.jpg 720 655 37 41
..                                 ...
89  building 0004840.jpg 584 618 55 61
90             building  576 613 55 61
91  building 0004842.jpg 567 611 55 61
92  building 0004843.jpg 556 607 57 64
93  building 0004844.jpg 545 603 60 67

[94 rows x 1 columns]

# Task 4

In [ ]:
#Fill the NaN Values using the 'ffill' method.

In [10]:
import pandas as pd

# Load data from CSV file
df = pd.read_csv("IMG_Rois.csv")

# Fill NaN values using 'ffill' method
df_filled = df.fillna(method='ffill')

# Write filled data to CSV
df_filled.to_csv("IMG_Rois_filled.csv", index=False)

# Display the DataFrame with filled NaN values
print(df_filled)

             Label ImageName X1 Y1 W H
0   building 0004813.jpg 734 651 37 41
1             building   733 652 37 41
2   building 0004815.jpg 728 654 37 41
3   building 0004816.jpg 724 655 37 41
4   building 0004817.jpg 720 655 37 41
..                                 ...
89  building 0004840.jpg 584 618 55 61
90             building  576 613 55 61
91  building 0004842.jpg 567 611 55 61
92  building 0004843.jpg 556 607 57 64
93  building 0004844.jpg 545 603 60 67

[94 rows x 1 columns]

C:\Users\HP\AppData\Local\Temp\ipykernel_12040\267707652.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled = df.fillna(method='ffill')

# Task 5

In [ ]:
#Remove the duplicate rows from this DataFrame.

In [13]:
import pandas as pd

# Load data from CSV file
df = pd.read_csv("IMG_Rois.csv")

# Remove duplicate rows
df_unique = df.drop_duplicates()

# Write unique data to CSV
df_unique.to_csv("IMG_Rois_unique.csv", index=False)

# Display the DataFrame with duplicate rows removed
print(df_unique)

             Label ImageName X1 Y1 W H
0   building 0004813.jpg 734 651 37 41
1             building   733 652 37 41
2   building 0004815.jpg 728 654 37 41
3   building 0004816.jpg 724 655 37 41
4   building 0004817.jpg 720 655 37 41
..                                 ...
79  building 0004830.jpg 657 637 45 50
81  building 0004832.jpg 646 636 45 50
84           0004835.jpg 623 628 52 58
85     building 0004836.jpg  627 52 58
90             building  576 613 55 61

[71 rows x 1 columns]

# Task 6

In [14]:
#Replace elements of Label with "Face".

In [ ]:
import pandas as pd

# Assuming you have a DataFrame named 'df'
# Replace elements in the 'Label' column with 'Face'
df['Label'] = 'Face'

# Now the 'Label' column contains only 'Face' for all rows

# If you want to replace specific elements based on conditions, you can use:
# For example, replace 'Eyes' with 'Face':
df.loc[df['Label'] == 'Eyes', 'Label'] = 'Face'

# Print the updated DataFrame
print(df)

# Task 7

In [ ]:
# Replace elements of X1 with 25.

In [18]:

# Replace elements of 'X1' column with 25
df.loc[:, 'X1'] = 25

# Write modified data to CSV
df.to_csv("IMG_Rois_modified.csv", index=False)

# Display the modified DataFrame
print(df)

             Label ImageName X1 Y1 W H  X1
0   building 0004813.jpg 734 651 37 41  25
1             building   733 652 37 41  25
2   building 0004815.jpg 728 654 37 41  25
3   building 0004816.jpg 724 655 37 41  25
4   building 0004817.jpg 720 655 37 41  25
..                                 ...  ..
89  building 0004840.jpg 584 618 55 61  25
90             building  576 613 55 61  25
91  building 0004842.jpg 567 611 55 61  25
92  building 0004843.jpg 556 607 57 64  25
93  building 0004844.jpg 545 603 60 67  25

[94 rows x 2 columns]